div.radio-with-Icon {
      display: block;
    }

    div.radio-with-Icon p.radioOption-Item {
      display: inline-block;

      box-sizing: border-box;
      margin: 0px 10px;
      border: none;
    }

    div.radio-with-Icon p.radioOption-Item label {
      display: block;
      height: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #439000;
      color: #000;
      cursor: pointer;
      opacity: .8;
      transition: none;
      font-size: 16px;
      text-align: center;
      margin: 0 !important;
    }

    div.radio-with-Icon p.radioOption-Item label:hover,
    div.radio-with-Icon p.radioOption-Item label:focus,
    div.radio-with-Icon p.radioOption-Item label:active {
      opacity: .5;
      background-color: #439000;
      color: #fff;
      margin: 0 !important;
    }

    div.radio-with-Icon p.radioOption-Item label::after,
    div.radio-with-Icon p.radioOption-Item label:after,
    div.radio-with-Icon p.radioOption-Item label::before,
    div.radio-with-Icon p.radioOption-Item label:before {
      opacity: 0 !important;
      width: 0 !important;
      height: 0 !important;
      margin: 0 !important;
    }

    div.radio-with-Icon p.radioOption-Item label i.fa {
      display: block;
      font-size: 50px;
    }

    div.radio-with-Icon p.radioOption-Item input[type="radio"] {
      opacity: 0 !important;
      width: 0 !important;
      height: 0 !important;
    }

    div.radio-with-Icon p.radioOption-Item input[type="radio"]:active~label {
      opacity: 1;
    }

    div.radio-with-Icon p.radioOption-Item input[type="radio"]:checked~label {
      opacity: 1;
      border: 1px #439000 solid;
      background-color: #439000;
      color: #fff;
    }

    div.radio-with-Icon p.radioOption-Item input[type="radio"]:hover,
    div.radio-with-Icon p.radioOption-Item input[type="radio"]:focus,
    div.radio-with-Icon p.radioOption-Item input[type="radio"]:active {
      margin: 0 !important;
    }

    div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:before,
    div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:after {
      margin: 0 !important;
    }

    .radioOption-Item img {
      width: 50px;
      height: auto;
      border-radius: 10px;
    }